@import (reference) "../abstracts/tokens";

.acceptjs-integration {
    .acceptjs-controls {
        .btn-secondary {
            margin-top: 1rem;
        }
    }

    .acceptjs-info {
        font-size: 0.875rem;
        color: @ink-2;
        margin-top: 0.5rem;
    }
}
